@use '../abstract/' as *;
.breadcrumb {
    color: inherit;
    text-transform: capitalize;
    margin-bottom: 1.6rem;
    cursor: pointer;
    &__link {
        text-decoration: none;
        color: var(--textHeading);
        font-weight: map-get($fontWeight, bold);
    }
}
