@use '../abstract/' as *;

.dashboard {
    @include header;

    &__container {
        margin: 2rem 0;
        @extend %FlexColumn;
        gap: 2rem;
        &__welcome {
            @extend %Box;

            &--heading {
                @include font-style(textLg, bold, textHeading, capitalize);
                span {
                    color: var(--secondary);
                }
            }
            &__content {
                margin-top: 2rem;
                font-weight: map-get($fontWeight, semibold);
                text-transform: capitalize;
                &--text {
                    span {
                        color: var(--secondary);
                    }
                }

                &__temp {
                    text-align: center;
                    &--icon {
                        width: 9rem;
                    }
                    &__text {
                        &--outdoor {
                            @extend %Flex;
                            justify-content: center;
                            span {
                                @extend %Flex;
                                margin-left: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
        &__project {
            @extend %Box;

            &__top {
                @extend %Flex;
                justify-content: space-between;
                padding-bottom: 1rem;
                border-bottom: 2px solid var(--border);
                &--title {
                    @include title;
                }

                &__filter {
                    @extend %Flex;
                    gap: 1rem;
                    &--title {
                        @include title;
                        display: none;
                    }

                    &--select {
                        border: none;
                        padding: 0.5rem;
                        border: 2px solid var(--border);
                        font-family: inherit;
                        font-weight: map-get($fontWeight, semibold);
                        text-transform: capitalize;
                        border-radius: 5px;
                        cursor: pointer;
                        &:focus,
                        &:active {
                            outline: 0;
                            border-color: var(--secondary);
                        }
                    }
                }
            }

            &__content {
                margin: 2rem 0;
                &__item {
                    @include boxProject;
                }
            }
        }
        &__meeting {
            @extend %Box;
        }
        &__task {
            @extend %Box;
        }
    }
}
